$blue: #9ecaed;
$deepBlue: #2f80c3;
$white: #fff;
$gray: #888;
$red: #f00;
$deepRed: #cb1b01;
.calendar-input-container {
  display: inline-block;
  position: relative;
  padding: 10px;
  text-align: center;
  font-family: SimHei;
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }
    .calendar-input {
      box-sizing: border-box;
      width: 200px;
      height: 30px;
      padding: {
        left: 5px;
        right: 5px;
      }
      border: 1px solid #ccc;
      border-radius: 4%;
      cursor: pointer;
      outline: none;
      transition: all .6s;
    }
    #calendar {
      position: absolute;
      width: 200px;
      height: 240px;
      box-sizing: border-box;
      border: 2px solid #eee;
      border-radius: 2%;
      div, span {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      div {
        height: 12.5%;
        width: 100%;
      }
      span {        
        height: 100%;
        width: 14.2857%;
      }

      #calendar-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        span {
          display: flex;
          align-items: center;
        }
        #date-box {
          flex-grow: 2;
        }
      }
      .week {
        box-sizing: border-box;
        padding: 5px;
        font-size: 16px;
        span {
          height: 100%;
        }
      }
      .days {
        box-sizing: border-box;
        height: 75%;
        padding: 5px;
        font-size: 14px;
        span {
          height: 16.666667%;
          cursor: pointer;
          transition: all .5s;
        }
        .unselect {
          cursor: default;
        }
      }
    }
}
.blue-theme {
  .focus {
    border-color: $blue;
    box-shadow: 0 0 5px $blue;
  }
  .arrow {
    cursor: pointer;
    color: $deepBlue;
    transition: color .5s;
    &:hover {
      color: $blue;
    }
  }
  .weekend {
    color: $deepBlue;
  }
  .days {
    span {
      &:hover {
        border-radius: 2px;
        background-color: $blue;
        color: #fff;       
      }
    }
    .unselect,
    .unselect:hover {
      border-radius: 0;
      background-color: #fff;
      color: #ccc;
    }
    .select,
    .select:hover {
      border-radius: 2px;
      background-color: $deepBlue;
      color: #fff;
    }
  }
}
.red-theme {
  #calendar-header {
    color: $white;
    background-color: $deepRed;
  }
  .focus {
    border-color: #ccc;
    box-shadow: 0 0 5px #ccc;
  }
  .arrow {
    cursor: pointer;
  }
    .weekend {
    color: $deepRed;
  }
  .days {
    color: $gray;
    span {
      &:hover {
        border-radius: 2px;
        background-color: $red;
        color: #fff;       
      }
    }
    .unselect,
    .unselect:hover {
      border-radius: 0;
      background-color: #fff;
      color: #ccc;
    }
    .select,
    .select:hover {
      border-radius: 2px;
      background-color: $deepRed;
      color: #fff;
    }
  }
}
/*@media screen and (max-width: 480px) {
  .calendar-input-container{
    .calendar-input {
    width: 150px;
  }
    #calendar {
      width: 150px;
    }
}
}*/